In [170]:
import pandas as pd
import numpy as np

In [171]:
# RENT PRICES DATABASE

In [210]:
df_rent=pd.read_csv("../datasets/2017_lloguer_preu_trim.csv")

df_rent_colnames= ["Year","Trimester","District Code","District","Neighborhood Code",
                   "Neighborhood","Average Rent", "Price"]
df_rent.columns=df_rent_colnames

df_rent["Average Rent"]=df_rent["Average Rent"].replace("Lloguer mitjà mensual (Euros/mes)","Euros per month")
df_rent["Average Rent"]=df_rent["Average Rent"].replace("Lloguer mitjà per superfície (Euros/m2 mes)","Euros/m2 per month")

df_rent=df_rent.groupby(["District","Average Rent"],as_index=False).agg({"Price":"mean"})
df_rent = df_rent.groupby(["District",'Average Rent'])['Price'].mean().unstack()

df_rent=df_rent.drop(["Euros per month"], axis=1)

df_rent["Euros/m2 per month"] = df_rent["Euros/m2 per month"].round(2)
df_rent = df_rent.sort_values(by=["Euros/m2 per month"], ascending=False)

df_rent

Average Rent         Euros/m2 per month
District
Sarrià-Sant Gervasi               15.95
Ciutat Vella                      15.91
Les Corts                         14.59
Gràcia                            13.51
Eixample                          13.34
Sant Martí                        13.03
Sants-Montjuïc                    12.57
Horta-Guinardó                    11.83
Sant Andreu                       10.76
Nou Barris                         9.84

In [173]:
# IMMIGRANTS/GENDER DATABASE

In [190]:
#importing csv
df_gender_colnames = ["Year", "District code", "District name", "Neighbourhood code", "Neighbourhood name", "Gender", "Number immigrants"]
df_gender = pd.read_csv("../datasets/2017_immigrants_sexe.csv", names=df_gender_colnames, header=0)

#drop unnecessary columns
cols_to_drop = ["Year", "District code", "Neighbourhood code"]
df_gender2 = df_gender.drop(cols_to_drop, axis=1)

#deleting duplicate records
df_gender2 = df_gender2.drop_duplicates()

#rename gender/ensure names are uniform
df_gender2["Gender"].value_counts()
df_gender2["Gender"] = np.where((df_gender2["Gender"]=="Homes"), "Male", "Female")

# Pivoting tables to get population numbers as columns
df_gender3 = pd.pivot_table(df_gender2, index="Neighbourhood name", columns="Gender", values="Number immigrants")

# Aggregating male and female values
df_gender_last = pd.merge(df_gender2[["District name", "Neighbourhood name"]], df_gender3, on="Neighbourhood name")
df_gender_last = df_gender_last.rename(columns={"Female":"Female immigrants", "Male":"Male immigrants"})
df_gender_last = df_gender_last.drop_duplicates()

In [175]:
# POPULATION DATABASE

In [176]:
#importing csv
df_pop_colnames = ["Year", "District code", "District name", "Neighbourhood code", "Neighbourhood name", "Gender", "Age", "Number population"]
df_pop = pd.read_csv("../datasets/population.csv", names=df_pop_colnames, header=0)

#deleting duplicate records
df_pop = df_pop.drop_duplicates()

#drop columns
cols_to_drop = ["District code", "Neighbourhood code"]
df_pop2 = df_pop.drop(cols_to_drop, axis=1)

#select records from 2017 only
df_pop2 = df_pop2[df_pop2["Year"]==2017]

#aggregate numbers by neighbourhood and gender, discarding age
df_pop3 = df_pop2.groupby(["District name", "Neighbourhood name", "Gender"], as_index=False).agg({"Number population":"sum"})

df_pop4 = pd.pivot_table(df_pop3, index=["District name","Neighbourhood name"], columns="Gender", values="Number population")

df_pop_last = pd.merge(df_pop2[["District name", "Neighbourhood name"]], df_pop4, on="Neighbourhood name")
df_pop_last = df_pop_last.rename(columns={"Female":"Female total", "Male":"Male total"})
df_pop_last = df_pop_last.drop_duplicates()

In [177]:
# MERGING IMMIGRANTS/GENDER AND POPULATION TOGETHER

In [189]:
# Note: record for "No consta" from "df_gender_last" is dropped on the merge.
# This does not affect the overall reasults as only 2 individuals were listed under "No consta".
df_total = pd.merge(df_gender_last, df_pop_last, on=["District name", "Neighbourhood name"])
df_total = df_total.drop_duplicates()

# sum by district
df_aux = df_total.groupby('District name')['Female immigrants','Male immigrants','Female total','Male total'].sum()

# sum by gender
df_aux["#Immigrants"] = df_aux["Female immigrants"] + df_aux["Male immigrants"]
df_aux["#Inhabitants"] = df_aux["Female total"] + df_aux["Male total"]

# drop old columns
df_population = df_aux.drop(['Female immigrants','Male immigrants','Female total','Male total'], axis=1)

# Get percentage of immigrants per district
df_population["Percentage of immigrants"] = (df_population["#Immigrants"]*100/df_population["#Inhabitants"]).round(2)
df_population[["#Immigrants", "#Inhabitants", "Percentage of immigrants"]]
df_population.sort_values(by=["Percentage of immigrants"], ascending=False)

df_population

                     #Immigrants  #Inhabitants  Percentage of immigrants
District name
Ciutat Vella               12611         98232                     12.84
Eixample                   19047        258152                      7.38
Gràcia                      7254        117227                      6.19
Horta-Guinardó              7799        161921                      4.82
Les Corts                   4375         79888                      5.48
Nou Barris                  8274        159214                      5.20
Sant Andreu                 6335        143246                      4.42
Sant Martí                 12720        227989                      5.58
Sants-Montjuïc             11683        174478                      6.70
Sarrià-Sant Gervasi         7227        143967                      5.02

In [179]:
# IMMIGRANTS BY NATIONALITY DATABASE

In [197]:
immigrants = pd.read_csv("../datasets/immigrants_by_nationality.csv")

# There are no missing values in the immigrants dataset.
# null_immigrants = immigrants.isnull().sum()
# print(null_immigrants)

# Types are correct:
# immigrants.dtypes

# Checking all the Nationalities of the file
# nationality = immigrants["Nationality"].value_counts()
# pd.set_option("display.max_rows", 200)
# print(nationality)

# Checking the districts in the file
# immigrants["District Name"].value_counts()

# Drop "Year" and "District code" column
immigrants_2017 = immigrants.drop(["Year"], axis=1)
immigrants_2017 = immigrants_2017.drop("District Code", axis=1)

# Grouping the number of nationalities by District Name
immigrants_district = immigrants_2017.groupby(["District Name", "Nationality"])["Number"].sum().reset_index()

# Removing the 0 values from the table
immigrants_district_null = immigrants_district.loc[(immigrants_district["Number"]!=0)]

# Dropping "No consta" records and "Spain" as nationality
df_nationality = immigrants_district_null[(immigrants_district_null["District Name"]!="No consta") & (immigrants_district_null["Nationality"]!="Spain")]

# Get Top 3
df_nationality3 = df_nationality.groupby('District Name', as_index=False).apply(lambda x: x.sort_values(by='Number',ascending=False).head(3)).reset_index(drop=True)

df_nationality3

          District Name    Nationality  Number
0          Ciutat Vella          Italy    3410
1          Ciutat Vella       Pakistan    3242
2          Ciutat Vella         France    1548
3              Eixample          Italy    4043
4              Eixample          China    2674
5              Eixample       Colombia    1844
6                Gràcia          Italy    1554
7                Gràcia         France     766
8                Gràcia      Venezuela     498
9        Horta-Guinardó          Italy     971
10       Horta-Guinardó       Honduras     864
11       Horta-Guinardó       Colombia     721
12            Les Corts          Italy     524
13            Les Corts          China     456
14            Les Corts      Venezuela     368
15           Nou Barris       Honduras    2656
16           Nou Barris       Pakistan     790
17           Nou Barris       Colombia     760
18          Sant Andreu          China     804
19          Sant Andreu       Pakistan     753
20          Sant Andreu       Colombia     620
21           Sant Martí          Italy    1939
22           Sant Martí       Pakistan    1915
23           Sant Martí          China    1685
24       Sants-Montjuïc          Italy    1709
25       Sants-Montjuïc       Pakistan    1611
26       Sants-Montjuïc          China    1250
27  Sarrià-Sant Gervasi          Italy    1027
28  Sarrià-Sant Gervasi         France     852
29  Sarrià-Sant Gervasi  United States     707

In [198]:
# Checking if total number of immigrants in both datasets match
df_tosum = immigrants_district_null[(immigrants_district_null["District Name"]!="No consta") & (immigrants_district_null["Nationality"]!="Spain")]
df_check = df_tosum.groupby("District Name", as_index=False).agg({"Number":"sum"})

df_p = df_population.reset_index()
df_check["#Immigrants"] = df_p["#Immigrants"]
df_check["#Inhabitants"] = df_p["#Immigrants"]
df_check["% between datasets"] = (df_check["#Immigrants"]*100/df_check["Number"]).round(2)
df_check
#average_diff = sum(df_check["% between datasets"])/10
#average_diff


# There is a difference of approximately 60 % between the total number of immigrants
# recorded in the dataset immigrants_by_nationality.csv and those in the
# 2017_immigrants_sexe.csv dataset. The source of the second (Open Data BCN) explains
# that:
#
# The data origins from the difference between the registers (because of birth,
# immigration or omission) and the quitting (because of decease, emigration,
# undue inclusion or duplicity) accounted for in the population register of the city
# of Barcelona for a year.
#
# It is possible that the exclusion of these numbers accounts for the difference in values.

         District Name  Number  #Immigrants  #Inhabitants  % between datasets
0         Ciutat Vella   27573        12611         12611               45.74
1             Eixample   33233        19047         19047               57.31
2               Gràcia   11511         7254          7254               63.02
3       Horta-Guinardó   11592         7799          7799               67.28
4            Les Corts    6450         4375          4375               67.83
5           Nou Barris   13524         8274          8274               61.18
6          Sant Andreu    9510         6335          6335               66.61
7           Sant Martí   21180        12720         12720               60.06
8       Sants-Montjuïc   20088        11683         11683               58.16
9  Sarrià-Sant Gervasi   10385         7227          7227               69.59

In [199]:
# GET PERCENTAGE IMMIGRANTS IN RELATION TO TOTAL IMMIGRANTS

In [200]:
df_nationality3.set_index("District Name", inplace=True)
df_check.set_index("District Name", inplace=True)
df_nationality3["Total immigrants"] = df_check["Number"]
df_nationality3["Percent of immigrants/district"] = (df_nationality3["Number"]*100/df_nationality3["Total immigrants"]).round(2)

df_nationality3 = df_nationality3.drop(["Total immigrants"], axis=1)

df_nationality3

                       Nationality  Number  Percent of immigrants/district
District Name
Ciutat Vella                 Italy    3410                           12.37
Ciutat Vella              Pakistan    3242                           11.76
Ciutat Vella                France    1548                            5.61
Eixample                     Italy    4043                           12.17
Eixample                     China    2674                            8.05
Eixample                  Colombia    1844                            5.55
Gràcia                       Italy    1554                           13.50
Gràcia                      France     766                            6.65
Gràcia                   Venezuela     498                            4.33
Horta-Guinardó               Italy     971                            8.38
Horta-Guinardó            Honduras     864                            7.45
Horta-Guinardó            Colombia     721                            6.22
Les Corts                    Italy     524                            8.12
Les Corts                    China     456                            7.07
Les Corts                Venezuela     368                            5.71
Nou Barris                Honduras    2656                           19.64
Nou Barris                Pakistan     790                            5.84
Nou Barris                Colombia     760                            5.62
Sant Andreu                  China     804                            8.45
Sant Andreu               Pakistan     753                            7.92
Sant Andreu               Colombia     620                            6.52
Sant Martí                   Italy    1939                            9.15
Sant Martí                Pakistan    1915                            9.04
Sant Martí                   China    1685                            7.96
Sants-Montjuïc               Italy    1709                            8.51
Sants-Montjuïc            Pakistan    1611                            8.02
Sants-Montjuïc               China    1250                            6.22
Sarrià-Sant Gervasi          Italy    1027                            9.89
Sarrià-Sant Gervasi         France     852                            8.20
Sarrià-Sant Gervasi  United States     707                            6.81

In [ ]:
# GET CITY OVERALL STATS

In [208]:
df_nationality_city = df_nationality.copy()
df_nationality_city = df_nationality_city.groupby(["Nationality"], as_index=False).agg({"Number": "sum"})

total_immigrants_city = sum(df_check["Number"])
df_nationality_city["Percentage"] = (df_nationality_city["Number"]*100/total_immigrants_city).round(2)
df_nationality_city = df_nationality_city.sort_values(by=["Percentage"], ascending=False)
df_nationality_city

                  Nationality  Number  Percentage
74                      Italy   16091        9.75
118                  Pakistan    9707        5.88
31                      China    9349        5.66
32                   Colombia    7777        4.71
52                     France    7109        4.31
65                   Honduras    6734        4.08
171                 Venezuela    6642        4.02
104                   Morocco    5574        3.38
122                      Peru    5496        3.33
20                     Brasil    4679        2.83
6                   Argentina    4392        2.66
68                      India    4084        2.47
44                    Ecuador    4056        2.46
168             United States    3909        2.37
129                    Russia    3900        2.36
167            United Kingdom    3737        2.26
42         Dominican Republic    3491        2.12
100                    Mexico    3332        2.02
17                    Bolivia    3205        1.94
56                    Germany    3209        1.94
128                   Romania    3067        1.86
165                   Ukraine    2814        1.70
30                      Chile    2663        1.61
125                  Portugal    2544        1.54
123               Philippines    2243        1.36
121                  Paraguay    2172        1.32
12                 Bangladesh    2031        1.23
55                    Georgia    1660        1.01
109               Netherlands    1560        0.95
124                    Poland    1354        0.82
36                       Cuba    1267        0.77
46                El Salvador    1088        0.66
162                    Turkey    1023        0.62
77                      Japan     963        0.58
150                    Sweden     892        0.54
21                   Bulgaria     839        0.51
15                    Belgium     791        0.48
169                   Uruguay     770        0.47
2                     Algeria     778        0.47
7                     Armenia     742        0.45
70                       Iran     709        0.43
108                     Nepal     676        0.41
144               South Korea     632        0.38
111                 Nicaragua     570        0.35
134                   Senegal     581        0.35
58                     Greece     569        0.34
26                     Canada     567        0.34
66                    Hungary     536        0.32
45                      Egypt     507        0.31
34                 Costa Rica     519        0.31
72                    Ireland     499        0.30
151               Switzerland     501        0.30
113                   Nigeria     408        0.25
152                     Syria     388        0.24
60                  Guatemala     402        0.24
79                 Kazakhstan     389        0.24
85                    Lebanon     375        0.23
120                    Panama     384        0.23
9                     Austria     356        0.22
39                    Denmark     331        0.20
51                    Finland     318        0.19
73                     Israel     304        0.18
89                  Lithuania     295        0.18
14                    Belarus     275        0.17
8                   Australia     283        0.17
38             Czech Republic     258        0.16
35                    Croatia     225        0.14
116                    Norway     231        0.14
1                     Albania     234        0.14
135                    Serbia     228        0.14
47          Equatorial Guinea     215        0.13
139                  Slovakia     199        0.12
3                     Andorra     191        0.12
101                   Moldova     201        0.12
57                      Ghana     204        0.12
172                   Vietnam     203        0.12
84                     Latvia     178        0.11
61                     Guinea     164        0.10
161                   Tunisia     149        0.09
114            No information     150        0.09
54                     Gambia     129        0.08
25                    Camerun     121        0.07
10                 Azerbaijan     121        0.07
143              South Africa     118        0.07
140                  Slovenia     120        0.07
133              Saudi Arabia     114        0.07
49                    Estonia     115        0.07
78                     Jordan     106        0.06
69                  Indonesia      92        0.06
67                    Iceland      91        0.06
88                      Libya     106        0.06
157                  Thailand      83        0.05
71                       Iraq      90        0.05
96                       Mali      76        0.05
170                Uzbekistan      64        0.04
110               New Zealand      62        0.04
0                 Afghanistan      61        0.04
37                     Cyprus      74        0.04
98                 Mauritania      57        0.03
146        State of Palestine      55        0.03
138                 Singapore      45        0.03
94                   Malaysia      54        0.03
75                Ivory Coast      47        0.03
80                      Kenya      54        0.03
18     Bosnia and Herzegovina      44        0.03
91                  Macedonia      56        0.03
62              Guinea-Bissau      36        0.02
41                   Dominica      29        0.02
119   Palestinian territories      37        0.02
33                      Congo      25        0.02
82                 Kyrgyzstan      30        0.02
97                      Malta      25        0.02
90                 Luxembourg      29        0.02
103                Montenegro      29        0.02
102                  Mongolia      39        0.02
4                      Angola      36        0.02
156                  Tanzania      26        0.02
50                   Ethiopia      12        0.01
147                     Sudan      21        0.01
160       Trinidad and Tobago      11        0.01
145                 Sri Lanka      20        0.01
22               Burkina Faso      12        0.01
163              Turkmenistan      14        0.01
164                    Uganda      14        0.01
16                      Benin      13        0.01
142                   Somalia      14        0.01
11                    Bahrain      16        0.01
137              Sierra Leone      12        0.01
175                  Zimbabwe      11        0.01
117                      Oman      10        0.01
99                  Mauritius       9        0.01
127                     Qatar      17        0.01
64                      Haiti      23        0.01
105                Mozambique      24        0.01
81                     Kuwait      23        0.01
53                      Gabon       8        0.00
24                   Cambodja       5        0.00
158               The Bahamas       3        0.00
159                      Togo       8        0.00
87                    Liberia       1        0.00
23                    Burundi       5        0.00
92                 Madagascar       8        0.00
107                   Namibia       6        0.00
106                   Myanmar       8        0.00
166      United Arab Emirates       8        0.00
19                   Botswana       2        0.00
155                Tajikistan       1        0.00
93                     Malawi       4        0.00
13                   Barbados       3        0.00
95                   Maldives       3        0.00
5         Antigua and Barbuda       1        0.00
173                     Yemen       6        0.00
174                    Zambia       4        0.00
112                     Niger       3        0.00
27                 Cape Verde       7        0.00
154                    Taiwan       1        0.00
141           Solomon Islands       1        0.00
131     Saint Kitts and Nevis       2        0.00
132                San Marino       1        0.00
59                    Grenada       2        0.00
48                    Eritrea       4        0.00
43                 East Timor       1        0.00
126               Puerto Rico       1        0.00
63                     Guyana       1        0.00
40                   Djibouti       1        0.00
76                    Jamaica       8        0.00
153     São Tomé and Príncipe       2        0.00
115               North Korea       1        0.00
83                       Laos       1        0.00
86                    Lesotho       1        0.00
148                  Suriname       1        0.00
149                 Swaziland       1        0.00
29                       Chad       3        0.00
28   Central African Republic       4        0.00
130                    Rwanda       3        0.00
136                Seychelles       2        0.00